<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel='stylesheet' href='{{ 'http://localhost/php/cart/public/assets/css/bootstrap.min.css' }}'>
    <link rel='stylesheet' href='http://localhost/php/cart/public/assets/font-awesome/css/font-awesome.min.css'>
    {# <link rel='stylesheet' href='assets/css/bootstrap.min.css'> #}



</head>
<body>
    
    {% include 'template/partial/nav.twig' %}

    <div class="m-3">
        {% block body %}  {% endblock %}    
    </div>

{# footer section #}
    <script src="http://localhost/php/cart/public/assets/js/jquery-3.3.1.slim.min.js" ></script>
    <script src="http://localhost/php/cart/public/assets/js/bootstrap.min.js" ></script>
    <script src="http://localhost/php/cart/public/assets/js/popper.min.js" ></script>
</body>

</html>
